

---

[texto do link](https://)

In [2]:
import pandas as pd
import numpy as np

### INSERÇÃO DAS DESPESAS DE UMA SEMANA

In [3]:
dados = [
    ['Segunda', 100, 221.60, 150, 0], 
    ['Terça', 0, 375.31, 100, 0], 
    ['Quarta', 100, 412.00, 125, 2310], 
    ['Quinta', 0, 495.20, 300, 500], 
    ['Sexta', 100, 411.53, 275, 0], 
    ['Sábado', 100, 245.00, 525, 0], 
    ['Domingo', 0, 164, 75, 820]
]           



relatorio = pd.DataFrame(data = dados, columns=['Dia', 'Limpeza', 'Comida', 'Transporte', 'Outros'])

relatorio

       Dia  Limpeza  Comida  Transporte  Outros
0  Segunda      100  221.60         150       0
1    Terça        0  375.31         100       0
2   Quarta      100  412.00         125    2310
3   Quinta        0  495.20         300     500
4    Sexta      100  411.53         275       0
5   Sábado      100  245.00         525       0
6  Domingo        0  164.00          75     820

### INSERÇÃO DE GANHOS QUE NÃO CONSTAM NA PLANILHA

In [4]:
novos_dados = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]
novos_dados

[2200, 2420.5, 3391, 5322, 4898.5, 4200, 3893]

### JUNÇÃO DOS DADOS

In [ ]:
relatorio.insert(loc=5, column= 'Ganhos', value = novos_dados)

In [7]:
relatorio

       Dia  Limpeza  Comida  Transporte  Outros  Ganhos
0  Segunda      100  221.60         150       0  2200.0
1    Terça        0  375.31         100       0  2420.5
2   Quarta      100  412.00         125    2310  3391.0
3   Quinta        0  495.20         300     500  5322.0
4    Sexta      100  411.53         275       0  4898.5
5   Sábado      100  245.00         525       0  4200.0
6  Domingo        0  164.00          75     820  3893.0

### SUBTRAÇÃO DE IMPOSTOS DOS GANHOS DIÁRIOS (NESSA SEMANA FOI 7%)

###### MULTIPLICAÇÃO PARA SABER QUANTO É 7% DE CADA GANHO

In [9]:
relatorio['Impostos'] = relatorio['Ganhos'] * 0.07
relatorio

       Dia  Limpeza  Comida  Transporte  Outros  Ganhos  Impostos
0  Segunda      100  221.60         150       0  2200.0   154.000
1    Terça        0  375.31         100       0  2420.5   169.435
2   Quarta      100  412.00         125    2310  3391.0   237.370
3   Quinta        0  495.20         300     500  5322.0   372.540
4    Sexta      100  411.53         275       0  4898.5   342.895
5   Sábado      100  245.00         525       0  4200.0   294.000
6  Domingo        0  164.00          75     820  3893.0   272.510

###### SUBTRAÇÃO DOS GANHOS x IMPOSTOS PARA TER COMO RESULTADO VALOR LÍQUIDO

In [10]:
relatorio['Valor final'] = relatorio['Ganhos'] - relatorio['Impostos']
relatorio

       Dia  Limpeza  Comida  Transporte  Outros  Ganhos  Impostos  Valor final
0  Segunda      100  221.60         150       0  2200.0   154.000     2046.000
1    Terça        0  375.31         100       0  2420.5   169.435     2251.065
2   Quarta      100  412.00         125    2310  3391.0   237.370     3153.630
3   Quinta        0  495.20         300     500  5322.0   372.540     4949.460
4    Sexta      100  411.53         275       0  4898.5   342.895     4555.605
5   Sábado      100  245.00         525       0  4200.0   294.000     3906.000
6  Domingo        0  164.00          75     820  3893.0   272.510     3620.490

###### DEMONSTRATIVO

In [11]:
relatorio[['Dia', 'Valor final']]

       Dia  Valor final
0  Segunda     2046.000
1    Terça     2251.065
2   Quarta     3153.630
3   Quinta     4949.460
4    Sexta     4555.605
5   Sábado     3906.000
6  Domingo     3620.490

### MÉDIA SEMANAL DOS GANHOS

###### GANHO LÍQUIDO

In [12]:
print(relatorio['Valor final'].median())

3620.49

###### GANHO BRUTO

In [13]:
print(relatorio['Ganhos'].median())

3893.0

### SOMA TOTAL DAS DESPESAS POR CATEGORIA

In [14]:
relatorio

       Dia  Limpeza  Comida  Transporte  Outros  Ganhos  Impostos  Valor final
0  Segunda      100  221.60         150       0  2200.0   154.000     2046.000
1    Terça        0  375.31         100       0  2420.5   169.435     2251.065
2   Quarta      100  412.00         125    2310  3391.0   237.370     3153.630
3   Quinta        0  495.20         300     500  5322.0   372.540     4949.460
4    Sexta      100  411.53         275       0  4898.5   342.895     4555.605
5   Sábado      100  245.00         525       0  4200.0   294.000     3906.000
6  Domingo        0  164.00          75     820  3893.0   272.510     3620.490

###### LIMPEZA

In [15]:
print(relatorio['Limpeza'].sum())

400

###### COMIDA

In [16]:
print(relatorio['Comida'].sum())

2324.64

###### TRANSPORTE

In [17]:
print(relatorio['Transporte'].sum())

1550

###### OUTROS

In [18]:
print(relatorio['Outros'].sum())

3630

### MÉDIA SEMANAL DE TODAS AS DESPESAS

In [19]:
relatorio['Gasto Semanal']= relatorio['Limpeza'] + relatorio['Transporte'] + relatorio['Comida'] + relatorio['Outros']
print(relatorio['Gasto Semanal'].median())

870.0

### LUCRO DIÁRIO PARA INFORMAR QUAL DIA FOI MAIS LUCRATIVO E O LUCRO TOTAL DA SEMANA

In [20]:
relatorio

,Dia,Limpeza,Comida,Transporte,Outros,Ganhos,Impostos,Valor final,Gasto Semanal
0,Segunda,100,221.60,150,0,2200.0,154.000,2046.000,471.60
1,Terça,0,375.31,100,0,2420.5,169.435,2251.065,475.31
2,Quarta,100,412.00,125,2310,3391.0,237.370,3153.630,2947.00
3,Quinta,0,495.20,300,500,5322.0,372.540,4949.460,1295.20
4,Sexta,100,411.53,275,0,4898.5,342.895,4555.605,786.53
5,Sábado,100,245.00,525,0,4200.0,294.000,3906.000,870.00
6,Domingo,0,164.00,75,820,3893.0,272.510,3620.490,1059.00

##### LUCRO DIÁRIO

In [28]:
relatorio['Lucro Diário']= relatorio['Valor final'] - (relatorio['Limpeza'] + relatorio['Transporte'] + relatorio['Comida'] + relatorio['Outros'])
relatorio[['Dia', 'Lucro Diário']]

       Dia  Lucro Diário
0  Segunda      1574.400
1    Terça      1775.755
2   Quarta       206.630
3   Quinta      3654.260
4    Sexta      3769.075
5   Sábado      3036.000
6  Domingo      2561.490

##### DIA MAIS LUCRATIVO

In [25]:
relatorio[['Dia', 'Lucro Diário']].max()

Dia                Terça
Lucro Diário    3769.075
dtype: object

##### LUCRO TOTAL DA SEMANA

In [26]:
relatorio['Lucro Diário'].sum()

16577.61